<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zisad.hellomedico">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zisad.hellomedico.ViewMedicineActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.EditMedicineActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.AddMedicineActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.MedicineListActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.ViewFoodActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.EditFoodActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.AddFoodDetails"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.FoodHabitActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.MainActivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.Login"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.secondactivity"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.diseases"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.Symp"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.medi"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.map"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.add"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.ListdataActivity"
            android:exported="false"/>
        <activity android:name=".editDiseases"
            android:exported="false"/>
        <activity android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:label="@string/app_name"
            android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.zisad.hellomedico.DiseasesInfo"
            android:exported="false"/>
        <activity android:name="com.zisad.hellomedico.FavouriteActivity"
            android:exported="false"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        <activity android:name="com.zisad.hellomedico.NearbyPharmacyActivity"
            android:exported="false"/>

    </application>



</manifest>